jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2.1.0"
      - run: |
          shasum build.sbt \
            project/giter8.sbt \
            project/build.properties > gha.cache.tmp
      - name: "~/.sbt cache"
        uses: "actions/cache@v1"
        with:
          key: "${{ runner.os }}-sbt-${{ hashFiles('gha.cache.tmp') }}"
          path: "~/.sbt"
          restore-keys: sbt
      - name: "~/.cache/coursier cache"
        uses: "actions/cache@v1"
        with:
          key: "${{ runner.os }}-coursier-${{ hashFiles('gha.cache.tmp') }}"
          path: "~/.cache/coursier"
          restore-keys: coursier
      - name: java 11.0.5 setup
        uses: "actions/setup-java@v2"
        with:
          architecture: x64
          java-package: jdk
          java-version: '11.0.5'
      - run: sbt test
name: build
on:
  pull_request: {}
  push: {}
